*{
    padding:0;
    margin:0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 2, 20);
}

.container{
    position: absolute;
    width: 500px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.display{
    width: 100%;
    background-color:white;
    border-radius: 5px;
    margin:30px 10px 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}



#button{
    border-radius: 5px;
    outline:0;
    border: 0;
    font-size: 12px;
    font-weight: 100;
    color:white;
    background-color: green;
    margin-left: 10px;
    padding:10px;
}

#button:hover{
    background-color:rgb(11, 202, 11);
}

h1{
    font-size:45px;
    color:white;
}
.display #input{
    margin: 10px;
    outline:0;
    border:0;
    font-size: 24px;
}
.display img{
    width:30px;
    cursor: pointer;
    margin:10px;
}


span{
   color:rgb(23, 97, 23);
   border-bottom: 4px solid rgb(23, 97, 23);
}